<div class="displayTable" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Olvidé mi contraseña.</h3>
  
        <p class="text-center">Ingrese su correo electrónico para solicitar el cambio de contraseña.</p>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Correo electrónico" #passwordResetEmail required>
        </div>
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input type="submit" class="btn btn-primary" value="Cambiar contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Volver al <span class="redirect" routerLink="/sign-in">LogIn</span></span>
      </div>
  
    </div>
  </div>