<div class="displayTable" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Registro</h3>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Correo Electrónico" #userEmail required>
        </div>
  
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPwd required>
        </div>
  
        <div class="formGroup">
          <input type="button" class="btn btn-primary" value="Registro con Firebase" (click)="authService.SignUp(userEmail.value, userPwd.value)">
        </div>

        <!-- Continue with Google -->
        <div class="formGroup">
          <button type="button" class="btn btn-primary" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
                Continuar con Google
          </button>
        </div>
   
      <div class="redirectToLogin">
        <span>Ya tienes una cuenta? <span class="redirect" routerLink="/sign-in">LogIn</span></span>
      </div>
    </div>
  
  </div>