 <!-- Resources -->
<div class="displayTable"  fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Login</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Usuario" #userName required>
        </div>
  
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
  
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
    <div class="displayTableCell">
      <input type="button" class="btn btn-primary" value="Login en Firebase" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn btn-primary" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Login con Google
          </button>
        </div>
  
        <div class="forgotPassword ">
          <p routerLink="/forgot-password">¿Olvidó su contraseña?</p>
        </div>
      </div>
  
      <div class="redirectToLogin">
        <p class="redirect" routerLink="/register-user"> Registrese aquí</p>
      </div>
  
    </div>
  </div>