<style>
    .cardInner {
      display: flexbox;
      grid-template-areas: "header header" "side content" "footer footer";
      grid-template-rows: auto auto auto;
      grid-row-gap: 16px;
      grid-column-gap: 16px;
    }
  </style>
  <div class="cardInner" *ngIf="authService.userData as user">
    <div [style.grid-area]="'header'">
        <h3>Nombre: {{ user.name.first | uppercase }}</h3>
    </div>
    <div [style.grid-area]="'side'">
        Correo Electrónico: 
    </div>
    <div [style.grid-area]="'content'">
        <img [src]="user.picture.medium">
    </div>
    <div [style.grid-area]="'footer'">
        <p>Email: {{ user.email }}</p>
    </div>
  </div>